:root{
    --primaryColor:#b2335f;
    --primaryFont:"Open Sans", sans-serif;
}
body{
    font-family: var(--primaryFont);
}
.text__primary{
    color: var(--primaryColor);
}
.navbar-nav .nav-item .nav-link{
    color: white;
}
.navbar .navbar-brand{
    color: white;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
color: var(--primaryColor);
}
.navbar .collapse .nav-item:hover a{
    color: var(--primaryColor);
}
.hero{
   background-image: url(./../image/hero/bg-hero.jpg);
   background-size: cover;
}
.hero a{
    color: var(--primaryColor);
}
.about{
    background-image: url(./../image/about/light.jpg);
}
.portfolio .nav-tabs .nav-item.show .nav-link,.portfolio .nav-tabs .nav-link.active{
    color: var(--primaryColor);
}
.portfolio .nav-link{
color:black ;
}
.portfolio .nav-tabs .nav-link{
    border: none;
}
.portfolio .nav-tabs{
    border: none;
}